body {
  margin: 0;
  background: #e2e2e2;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.invoice-conatiner {
  margin: auto;
  justify-content: center;
  text-align: center;
}

svg {
  position: fixed;
  top: 10px;
  left: -150px;
  z-index: -1;
}

.container {
  background: #FFF;
  border-radius: 5px;
  z-index: 1;
  overflow-y: auto;
}

.container-report {
  background: #FFF;
  border-radius: 5px;
  z-index: 1;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}

h2 {
  padding: 40px;
  text-transform: uppercase;
  color: #414141;
}

h5 {
  padding: 40px;
  color: #414141;
}

input {
  cursor: pointer;
}

.invoice-btn {
  cursor: pointer;
  display: inline-block;
  width: 250px;
  height: 60px;
  margin-top: -10px;
  border: none;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: .5s;
  transition: .5s;

  &:nth-of-type(1) {
    background: #673ab7;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}

.register {
  margin-bottom: 35px !important;
}

.reg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  -webkit-transform: translateY(-100%) scale(1);
  transform: translateY(-100%) scale(1);
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background: #673ab7;
  z-index: 5;
  -webkit-transition: .8s ease-in-out;
  transition: .8s ease-in-out;
}

h3 {
  position: absolute;
  top: -100%;
  left: 20%;
  text-transform: uppercase;
  font-weight: bolder;
  color: rgba(255, 255, 255, .3);
  -webkit-transition: .3s ease-in-out 1.2s;
  transition: .3s ease-in-out 1.2s;
}

/* INVOICE GENERATED */
#invoice-generated {
  font-size: 22px;
}

#invoice-generated h2 {
  margin: auto;
  justify-content: center;
  text-align: center;
  display: flex;
}

.invoice-first-div {
  font-size: 23px;
  display: flex;
}

.invoice-first-div img {
  margin-top: 3%;
  width: 30%;
  height: 65%;
}

.invoice-details {
  font-size: 1.6em;
}

.bill_to_div,
.estimate_address_div {
  border: 4px solid black;
  padding: 12px 0px;
}

.last-row {
  border: 4px solid black;
  padding: 12px;
  width: 1325px;
  margin-left: -10px;
}

/* .item_details_div {
  border-right: 1px solid #000;
} */

.form-col {
  /* border-left: 1px solid #000; */
  margin-top: -10px !important;
}

.form-col:last-child,
.invoice-last-div {
  border-right: none;
}

.line {
  height: 2px;
  /* width: 98%;
  margin-left: 20px; */
  background-color: #000;
}

.css-1x51dt5-MuiInputBase-input-MuiInput-input {
  padding: 6px 5px !important;
}

.item_details_div {
  margin-top: 1%;
}

.invoice-last-div {

  font-size: 25px;
  font-weight: 800;
}

.invoice-last-div p {
  text-align: right;
}

.invoice-last-div h5 {
  text-align: center;
}

.download-icon-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.download-icon {
  cursor: pointer;
  width: 50px;
}

.trash-icon,
.fa-plus-circle {
  cursor: pointer;
  color: #ff5722;
}

.css-1x51dt5-MuiInputBase-input-MuiInput-input,
.css-mnn31 {
  font-size: 22px !important;
  height: 1em !important;
  margin-top: 3% !important;
  /* padding: 6px 5px !important; */
}

.invoice-map-details-row {
  margin-top: 20px !important;
}

.invoice-amount {
  position: relative;
  right: 0;
  left: 0;
  margin: auto auto auto 80%;
}

.add-container,
.download-icon-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.download-icon-container svg {
  width: 100% !important;
  height: 10% !important;
  transform: translate3d(0px, 0px, 0px);
}

.download-icon {
  cursor: pointer;
  width: 110px;
}

.new-invoice-btn {
  cursor: pointer;
  background-color: #08a0d1;
  color: white;
  padding: 12px;
}

.amount-container {
  background-color: #08a0d1;
  padding: 6px 20px;
  color: white;
  font-weight: 600;
}

/* Recieve Payment */
.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 50px 0;
}

.ag-courses_item {
  flex-basis: calc(48.33333% - 20px);
  margin: 0 15px 30px;
  overflow: hidden;
  border-radius: 28px;
}

.ag-courses-item_link {
  display: block;
  padding: 60px 20px;
  background-color: #121212;
  text-decoration: none;
  overflow: hidden;
  position: relative;
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #FFF;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}

.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  color: #FFF;

  z-index: 2;
  position: relative;
}

.ag-courses-item_date-box {
  font-size: 18px;
  color: #FFF;

  z-index: 2;
  position: relative;
}

.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;

  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}

.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #e44002;
  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #4c49ea;
}

@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }

  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }

  .ag-courses-item_link {
    padding: 22px 40px;
  }

  .ag-courses-item_date-box {
    font-size: 16px;
  }
}

.installer-container,
.payment-recieve-container {
  margin-top: 7%;
}

.css-pdct74-MuiTablePagination-selectLabel {
  margin-top: 18px !important;
}

.css-levciy-MuiTablePagination-displayedRows {
  margin-top: 18px;
}

.total_unpaid_invoices {
  text-align: right;
  margin-right: 5%;
}

.total_amount_invoices {
  text-align: right;
  margin-right: 4%;
}

.total_amount_invoices p {
  font-size: 19px;
  margin-top: 2%;
}

/* Search field styling */
.search-container {
  display: flex;
  align-items: center;
  background-color: #F9F9FA;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: width 0.3s ease-in-out;
  width: 250px;
}

.search-container.expanded {
  width: 300px;
}

.search-form {
  border-radius: 18px;
  background-color: #F9F9FA;
  height: 60px;
  align-items: center;
}

.search-input {
  border: none;
  outline: none;
  flex-grow: 1;
  padding: 5px;
  background-color: #F9F9FA;
  width: 20%;
  font-size: 18px;
}

.search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  /* margin-top: 8px; */
  padding: 5px;
}

.search-button i {
  color: #333;
}

.toolbar-search {
  display: flex;
  justify-content: flex-end;
  margin-right: -20px;
  margin-top: -50px;
}


/* main stying */

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 75px 0;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
  margin-bottom: 0;
}

.heading_container h2 span {
  color: #00bbf0;
}

.heading_container p {
  margin-top: 10px;
  margin-bottom: 0;
}

.heading_container.heading_center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*header section*/
.hero_area {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 35px !important;
}

.hero_area .hero_bg_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  overflow: hidden;
  z-index: -1;
}

.hero_area .hero_bg_box .bg_img_box {
  min-width: 100%;
  min-height: 100%;
}

.hero_area .hero_bg_box img {
  min-width: 100%;
  min-height: 100%;
}

.sub_page .hero_area {
  min-height: auto;
  background: linear-gradient(130deg, #231a6f, #0f054c);
}

.sub_page .hero_area .hero_bg_box {
  display: none;
}

.header_section {
  padding: 15px 0;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.navbar-brand span {
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
}

.custom_nav-container {
  padding: 0;
}

.custom_nav-container .navbar-nav {
  margin-left: auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 5px 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link,
.custom_nav-container .navbar-nav .nav-item.active .nav-link {
  color: #00bbf0;
}

.custom_nav-container .navbar-nav .nav-item.active .nav-link {
  font-weight: 600;
}

.custom_nav-container .nav_search-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  color: #ffffff;
}

.custom_nav-container .nav_search-btn:hover {
  color: #00bbf0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before,
.custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before,
.custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

/*end header section*/
/* slider section */
.slider_section {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding: 45px 0 145px 0;
}

.slider_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider_section #customCarousel1 {
  width: 100%;
  position: unset;
}

.slider_section .detail-box {
  color: #00204a;
}

.slider_section .detail-box h1 {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #ffffff;
}

.slider_section .detail-box p {
  color: #fefefe;
  font-size: 14px;
}

.slider_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -5px;
  margin-top: 25px;
}

.slider_section .detail-box .btn-box a {
  margin: 5px;
  text-align: center;
  width: 165px;
}

.slider_section .detail-box .btn-box .btn1 {
  display: inline-block;
  padding: 10px 15px;
  background-color: #00bbf0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.slider_section .detail-box .btn-box .btn1:hover {
  background-color: #007fa4;
}

.slider_section .detail-box .btn-box .btn2 {
  display: inline-block;
  padding: 10px 15px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.slider_section .detail-box .btn-box .btn2:hover {
  background-color: black;
}

.slider_section .img-box {
  margin: 45px 0;
}

.slider_section .img-box img {
  width: 100%;
  -webkit-animation: upDown 5s infinite;
  animation: upDown 5s infinite;
}

@-webkit-keyframes upDown {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
  }

  50% {
    -webkit-transform: translateY(45px);
    transform: translateY(45px);
  }

  100% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
  }
}

@keyframes upDown {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
  }

  50% {
    -webkit-transform: translateY(45px);
    transform: translateY(45px);
  }

  100% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
  }
}

.slider_section .carousel-indicators {
  position: unset;
  margin: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider_section .carousel-indicators li {
  background-color: #ffffff;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  opacity: 1;
}

.slider_section .carousel-indicators li.active {
  width: 20px;
  height: 20px;
  background-color: #00bbf0;
}

.service_section {
  position: relative;
}

.service_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin-top: 45px;
  background-color: #f8f8f9;
  padding: 20px;
  border-radius: 5px;
}

.service_section .box .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 125px;
  min-width: 75px;
  height: 75px;
  margin-bottom: 15px;
}

.service_section .box .img-box img {
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.service_section .box .detail-box h5 {
  font-weight: bold;
  text-transform: uppercase;
}

.service_section .box .detail-box a {
  color: #00204a;
  font-weight: 600;
}

.service_section .box .detail-box a:hover {
  color: #00bbf0;
}

.service_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 45px;
}

.service_section .btn-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #00bbf0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.service_section .btn-box a:hover {
  background-color: #007fa4;
}

@media (max-width: 1300px) {}

@media (max-width: 1120px) {}

@media (max-width: 992px) {
  .hero_area {
    min-height: auto;
  }

  .hero_area {
    background: linear-gradient(130deg, #231a6f, #0f054c);
  }

  .hero_area .hero_bg_box {
    display: none;
  }

  .slider_section {
    padding: 45px 0 75px 0;
  }

  .custom_nav-container .navbar-nav {
    padding-top: 15px;
    align-items: center;
  }


  .custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 5px 25px;
    margin: 5px 0;
  }


}

@media (max-width: 768px) {
  .about_section .img-box {
    margin-bottom: 45px;
  }

}

@media (max-width: 576px) {
  .header_section .header_top .contact_nav a span {
    display: none;
  }


  .client_section .client_container {
    width: 100%;
  }

  .client_section .box {
    margin: 0;
  }

  .owl-nav {
    display: flex;
    justify-content: center;
    margin-top: 45px;
  }

  .client_section .owl-carousel .owl-nav .owl-prev,
  .client_section .owl-carousel .owl-nav .owl-next {
    position: unset;
    margin: 0 2.5px;
  }
}

@media (max-width: 480px) {
  .slider_section .detail-box h1 {
    font-size: 2rem;
  }

  .track_section form {
    flex-direction: column;
    align-items: flex-start;
  }

  .track_section form input {
    width: 100%;
  }

  .track_section form button {
    padding: 10px 60px;
    margin-top: 10px;
  }
}

@media (max-width: 420px) {
  .service_section .box {
    flex-direction: column;
  }

  .service_section .box .img-box {
    justify-content: flex-start;
    margin-bottom: 15px;
  }
}

/* @media (max-width: 376px) {}

@media (min-width: 1200px) {
  .container {
    max-width: 100%;
  }
} */

.css-y8ay40-MuiTableCell-root {
  font-weight: 500 !important;
}

.css-8coetn {
  font-weight: 500 !important;
}

.css-y8ay40-MuiTableCell-root,
.css-1ex1afd-MuiTableCell-root,
.css-pdct74-MuiTablePagination-selectLabel,
.css-levciy-MuiTablePagination-displayedRows,
.css-8coetn,
.css-q34dxg {
  font-size: 1rem !important;
}

.css-194a1fa-MuiSelect-select-MuiInputBase-input.css-194a1fa-MuiSelect-select-MuiInputBase-input.css-194a1fa-MuiSelect-select-MuiInputBase-input,
.css-1chpzqh,
.css-1cccqvr {
  margin-top: -6px !important;
  font-size: 1.2rem !important;
}

.css-8nphli {
  margin-top: 20px !important;
}

.top-btn {
  cursor: pointer;
  text-align: right;
  justify-content: right;
  display: flex;
  background: transparent;
  max-width: 1800px;
}

.login-container {
  padding: 20px;
  border-radius: 8px;
  /* margin-top: 100px !important; */
  justify-content: center;
  text-align: center;
  height: 100vh;
}

input {
  width: 50%;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.login-btn {
  background-color: #231a6f;
  color: white;
  padding: 16px 300px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 14px;
}

.login-btn:hover {
  background-color: black;
}

/* .css-1h51icj-MuiAutocomplete-root .MuiInput-root .MuiInput-input{
  text-align: center !important;
} */

.invoice-page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.invoice-content {
  flex: 1;
}

.invoice-last-div {
  flex-shrink: 0;
}

.css-l4u8b9-MuiInputBase-root-MuiInput-root:before,
.css-l4u8b9-MuiInputBase-root-MuiInput-root:after,
.css-12rx5qu::before,
.css-12rx5qu::after {
  border-bottom: 1px solid white !important;
}

.centeredInput::before {
  content: '$';
  /* Adding the dollar symbol */
  position: absolute;
  left: 50%;
  /* Center the symbol */
  transform: translateX(-50%);
  /* Ensure it's perfectly centered */
  color: black;
  font-size: 1.4rem;
  pointer-events: none;
  /* Prevent the symbol from blocking input */
}


/* .css-1h51icj-MuiAutocomplete-root .MuiInput-root .MuiInput-input {
  padding: 4px 4px 4px 0px !important;
} */

.css-1ex1afd-MuiTableCell-root,
.css-q34dxg {
  padding: 3px !important;
}